@import './base.css';
/* = = = = = = = = = = = = = = = = = = */
/* WRAPPER & CONTAINERS                */
/* = = = = = = = = = = = = = = = = = = */

/* = = = = = = = = = = = = = = = = = = */
/* TITLE SCREEN                        */
/* = = = = = = = = = = = = = = = = = = */
.title-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    text-align: center;
}

.start-btn {
    padding: 15px;
    border-radius: 7px;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #38E54D;
}
/* = = = = = = = = = = = = = = = = = = */
/* GAME START                          */
/* = = = = = = = = = = = = = = = = = = */
.game-screen.hidden, .title-screen.hidden {
    display: none;
}

.game-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100vh;
    background-color: #2192FF;
}